body {
  margin: 0;
  padding:  0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3fb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main-container{
  width: 100%;
  height: 100%;
  margin: 2rem auto;
}
.line-clamp{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
   overflow: hidden;
}


.comments-container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 1.5rem;
  padding: 0;
}

.comment{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 7px 4px #bcbccc;
}
li{
  list-style-type: none;
}
.comments-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

}
@media screen and (min-width:768px) {
  .comments-container{
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
  }
  
}